* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #0B0B0B;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.header {
  height: 100vh;
  position: absolute;
  z-index: 5;
  background: rgba(11, 11, 11, 0.3);
  left: 0;
  right: 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin-top: 31px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-btn div {
  width: 36px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.logo {
  padding-top: 36px;
  margin-bottom: 29px;
}

.header-content__title {
  font-family: 'Roboto', sans-serif;
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 40px;
}

.header-content__text {
  width: 284px;
  margin-bottom: 25px;
}

.button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 30px 62px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  background-color: #770302;
}

.menu.active {
  left: 0;
}

.menu {
  background-color: #0B0B0B;
  position: absolute;
  left: -100%;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 7;
  width: 100%;
}

.menu__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list ul {
  list-style: none;
  padding: 0;
}

.menu__list a {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  border-bottom: 3px solid #B70021;
  padding: 30px 25px 14px 0;
  display: inline-block;
  min-width: 368px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__list a:hover {
  border-color: #fff;
  color: #B70021;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 37px;
}

.close-btn {
  width: 50px;
  height: 50px;
  background-color: #0B0B0B;
  position: absolute;
  top: 31px;
  right: 15px;
  cursor: pointer;
}

.close-btn::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.close-btn::before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  bottom: -1px;
}

.container-menu {
  position: relative;
}

.slider .slick-dots {
  margin: -55px auto 0;
  position: relative;
  z-index: 6;
  max-width: 1230px;
  padding: 0 15px;
}

.slider .slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0b0b0b;
  border: none;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.slider .slick-dots li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}

.slider .slick-dots .slick-active button {
  background-color: #fff;
}

.slider__item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.statistics {
  margin: 160px 0 100px;
}

.statistics-item {
  text-align: center;
}

.statistics-item__title {
  margin-bottom: 19px;
}

.statistics-item__num {
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 7px;
  font-family: 'Roboto', sans-serif;
}

.statistics-item__num--speed span {
  display: inline-block;
  position: relative;
}

.statistics-item__num--speed span::before {
  content: '+';
  position: absolute;
  top: -60px;
}

.statistics-item__num span {
  font-size: 24px;
  line-height: 28px;
  margin-left: -20px;
}

.statistics-item__descr {
  color: #B70021;
}

.statistics-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.video {
  margin-bottom: 100px;
}

.advantages-discr {
  max-width: 570px;
  width: 100%;
}

.advantages__text {
  width: 303px;
}

.advantages__text ul {
  list-style: none;
  padding: 0;
}

.advantages__title {
  font-size: 36px;
  line-height: 42px;
  color: #B70021;
  position: absolute;
  top: 0;
}

.advantages__title--bottom {
  right: 0;
  bottom: 0;
  top: auto;
}

.advantages-inner__row {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.design {
  margin-bottom: 100px;
}

.design-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-row__item {
  max-width: 570px;
  width: 100%;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-row__item-num {
  color: #B70021;
}

.design-row__item-text {
  max-width: 450px;
  padding-top: 25px;
}

.design__images {
  margin-bottom: 100px;
}

.footer {
  background-color: #690102;
  padding: 83px 0 20px;
}

.footer-btn {
  text-align: center;
  margin-bottom: 83px;
}

.footer-copy {
  text-align: center;
  font-weight: 700;
}

.footer-copy ul {
  list-style: none;
  padding: 0;
}

.footer-copy ul li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

.footer-copy ul li + li::before {
  content: '|';
  position: absolute;
  left: -5px;
}

@media screen and (max-width: 1220px) {
  .design__images {
    margin-bottom: 50px;
  }
  .design__images img {
    width: 100%;
  }
  .advantages__text {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1020px) {
  .design {
    margin-bottom: 50px;
  }
  .design-row {
    display: block;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .design-row__item {
    margin-bottom: 30px;
    max-width: 100%;
    padding-right: 0;
  }
  .design-row__item-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .advantages-inner__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .advantages__title {
    position: static;
  }
  .advantages-discr {
    text-align: center;
  }
  .advantages__text {
    margin: 25px auto;
    padding: 0;
  }
  .advantages__text ul {
    margin-top: 0;
  }
  .advantages-inner__row--mobile .advantages-discr {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 820px) {
  .statistics-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics-item {
    padding: 50px 0;
  }
}

@media screen and (max-width: 650px) {
  .design-row__item-text {
    font-size: 20px;
  }
  .advantages__img img {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .header-content__title {
    font-size: 80px;
    margin-top: 20px;
    line-height: 90px;
  }
}

@media screen and (max-width: 410px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
  .logo img {
    width: 200px;
  }
  .header-content__title {
    font-size: 70px;
    margin-top: 20px;
    line-height: 85px;
  }
  .menu__list a {
    font-size: 30px;
    line-height: 44px;
    padding: 19px 10px 7px 0;
    display: block;
    min-width: 100%;
  }
  .menu__list a {
    width: 100%;
  }
  .statistics-item {
    padding: 25px 0;
  }
  .statistics {
    margin: 110px 0 50px;
  }
  .button {
    padding: 20px 45px;
  }
  .video {
    margin-bottom: 50px;
  }
  .advantages__text {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */